<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Trainings</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="img/sidebar logo.png" type="image/x-icon">
  <link rel="stylesheet" href="css/manage_trainingssample.css">
  <link rel="stylesheet" href="css/nav_log.css">
  <link rel="stylesheet" href="css/trainings_commonsample.css">
  <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>

</head>
<body>
  <script>
    window.userRole = "<%= user.role %>";
  </script>
  <script src="js/rolebase.js"></script>
  
    <div class="supercss">
    <div class="sidebar">
        <a class="logo" style="text-align: center;align-items:center;padding:5px">
          <img src="img/sidebar logo.png" alt="Logo" style="width: 58px; max-width: 70px;height:80px;">
       </a> 
       <a href="myDashboard" class="menu-item" id="dashboard-link">
            <img src="img/dash_white.png" alt="dash" style="max-width:22px; height:22px"><span style="color:white">Dashboard</span>
        </a>
         <a href="employabilityReport" class="menu-item">
                <img src="img/emp.png" alt="dash" style="max-width:18px; height:20px"><span>Employability</span>
            </a>
        <a href="https://admin.hackathon.blackbucks.me"  class="menu-item" >
            <img alt="Assessment icon" src="img/assessment.png" style="max-width:19px; height:19.5px">
            <span>Assessments</span></a>
       
         <a href="jobsDashboard" class="menu-item">
           <img src="img/jobs.png" alt="jobs" style="max-width:20px; height:21px"><span>Jobs</span>
        </a>
        <a href="https://admin.hackathon.blackbucks.me/createAndManageCourse/"  class="menu-item" >
            <img alt="course icon" src="img/course.png" style="max-width:19px; height:20px"> 
            <span>Course</span></a>
        <a href="https://admin.hackathon.blackbucks.me/lessonPlan/"  class="menu-item" >
            <img alt="lessonplan icon" src="img/lessonplan.png" style="max-width:23px; height:18px">
            <span>Lesson Plan</span></a>
        
                <a href="trainingsDashboard" class="menu-item active" style="background-color: #88EB4C;">
            <img src="img/trainings_black.png" alt="trainings" style="max-width:27px; height:21px"><span style="color: black;font-weight:bold">Trainings</span>
        </a>
                 <a href="internshipsDashboard" class="menu-item">
                    <img
                      src="img/internship_whiteicon.png"
                      alt="manage"
                      style="width: 20px; height: auto"
                    /><span>Internships</span>
                  </a>
                <a href="https://admin.hackathon.blackbucks.me/createAndManageLabTest/"  class="menu-item" >
                    <img alt="vpl icon" src="img/vpl.png" style="max-width:19px; height:17px">
                    <span>VPL</span></a>
       
         

             
     </div>
     <div class="css">
      <div class="css0">
        <div class="navbar" style="max-height: 50px;">
         <div class="nav1"></div>
         <div class="nav2" >
             <a href="https://admin.hackathon.blackbucks.me/manageStudents/">
                 <div class="chakra-stack css-nr8aow">
                     <img alt="Manage Users" src="img/newManageUsers.svg" class="chakra-image css-0">
                 </div>
             </a>
             <a href="https://admin.hackathon.blackbucks.me/tpCalendar/" style="margin-left: 1rem;">
                 <div class="chakra-stack css-nr8aow">
                     <img alt="Calendar" src="img/newCalenderNavIcon.svg" class="chakra-image css-0"></div></a>
             <a href="https://admin.hackathon.blackbucks.me/manageNotification/" style="margin-left: 1rem;">
                 <div class="chakra-stack css-nr8aow">
                     <div class="css-1edim3w">
                         <img alt="Notifications" src="img/newNotificationIcon.svg" class="chakra-image css-6su6fj">
                         <div class="css-1bac456">
                             <div class="css-1rkwksi">1</div>
                         </div>
                     </div>
                 </div>
             </a>
             <button type="button" class="navbtn" id="userButton">
                 <span class="user-details">
                     <div class="user">
                         <span class="user-profile">
                             <i class="fa-solid fa-circle-user" style="font-size: 30px;"></i>
                         </span>
                         <div class="username">
                             <p class="userN"></p>
                             <p class="userR"></p>
                         </div>
                     </div>
                 </span>
                 <span class="chakra-button__icon css-1hzyiq5">
                     <svg viewBox="0 0 16 16" style="height:12px !important; width: 12px !important;"  aria-hidden="true" focusable="false" fill="currentColor" xmlns="http://www.w3.org/2000/svg" color="black" class="css-1eamic5 ex0cdmw0">
                         <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                     </svg>
                 </span>
             </button>
             
             <button type="button" class="logoutbtn" id="logoutButton" style="display: none;">
                 Log out
             </button>
             
            
         </div>
       
  <script>
     document.addEventListener('DOMContentLoaded', () => {
     const userButton = document.getElementById('userButton');
     const logoutButton = document.getElementById('logoutButton');
  
     userButton.addEventListener('click', () => {
         if (logoutButton.style.display === 'none') {
             logoutButton.style.display = 'flex';
             logoutButton.style.top = `${userButton.offsetTop + userButton.offsetHeight}px`;
             logoutButton.style.left = `${userButton.offsetLeft}px`;
         } else {
             logoutButton.style.display = 'none';
         }
     });
  
     logoutButton.addEventListener('click', () => {
         // Add your logout logic here
         console.log('User logged out');
     });
  });
  
  </script>
        </div>
     </div>
     <div class="css1">
  

  <div class="main-container">
    <div class="roww marginr" style="margin: 20px;">
      <img src="img/traininggrey.png" alt="internship icon" style="width: 14px; height: 14px; margin-right: 5px">
      <p class="grey f14 marginr" style="margin-bottom: 0;">
        Trainings <i class="fa-solid fa-chevron-right f10 marginl grey"></i>
      </p>
      <p class="f14" style="margin-bottom: 0;">Active Trainings</p>
    </div>

 <div style="float: right; margin-top: 40px; margin-bottom: 20px;"> 
    <a href="" class="mtrainings" style="margin: 10px; padding: 10px;"><i class="fa-solid fa-users-gear"></i> Manage Batches</a>
    <a href="" class="ctrainging" style="margin: 10px; padding: 10px;"><i class="fa-solid fa-plus"></i> Create Trainings</a>
</div>
  <div class="topnav">
    <a href="/" class="active" style="padding: 10px;">
        <div class="roww" style="margin-right: 20px;">
            <img src="img/active_trainings.png" alt="active_trainings" style="margin-right: 5px;">
            <p style="margin-bottom: 0;">Active Trainings</p>
        </div>
    </a>

    <a href="#Completed_trainings" style="padding: 10px;">
        <div class="roww"> 
            <img src="img/completed_trainings.png" alt="completed_trainings" style="margin-right: 5px;">
            <p style="margin-bottom: 0;">Completed Trainings</p>
        </div>
    </a>
   
</div>



<div class="section2_2">
  <div class="card_s2">
     <div class="background-img-color">
        <img src="img/plannedt.png" alt="planned trainiings">
     </div>
     <div style="margin-left: 20px;">
     <p class="f16 font600" style="margin: 0;">Planned Trainings</p>
     <span class="f22">4</span>
    </div>
   </div>
  
  <div class="card_s2">
     <div class="background-img-color">
        <img src="img/ongoingt.png" alt="overall">
     </div>
     <div style="margin-left: 20px;">
      <p class="f16 font600" style="margin: 0;">On-going Trainings</p>
      <span class="f22">2</span> 
     </div>
  </div>
  <div class="card_s2">
     <div class="background-img-color">
        <img src="img/completedt.png" alt="projects">
     </div>
     <div style="margin-left: 20px;">
      <p class="f16 font600" style="margin: 0;">Completed Trainings</p>
     <span class="f22">0</span>
     </div> 
   </div>
  </div>

   <!-- <div id="trainings"></div>  -->
  

    
   <div class="training">
    <div class="roww" style="justify-content:space-between">
        <div class="roww">
        <div class="banner-t-img">
          <img class="banner" src="img/blackbuckslogo.jpg" alt="Training Banner">
          </div>

          <div style="display:flex; flex-direction:column;">
            <p class="f18 font600">C & DS</p>
            <div class="roww">
              <p class="f18" >Sri Bala Sai Degree College, Machilipatnam</p></div>
              
              <div style="display:flex; flex-direction:row">
                 
                <img src="img/date.png" alt="date"  width="14px" height="14px" style="margin-right:5px"/>
            <p class="f12 font600" style="margin-right:20px;">Start Date: 23-05-2024</p>
           
            <img src="img/date.png" alt="date"  width="14px" height="14px"  style="margin-right:5px"/>
             <p class="f12 font600">End Date: 23-07-2024</p></div></div>
           
            </div>
        
        <div>
        <a href="trainingoverviewsample" class="view">
          <img src="img/eye.png" alt="viewreport" style="margin-right:5px"/>
          View Report</a>
        
        </div>
      </div>
   </div>
   <div class="training">
    <div class="roww" style="justify-content:space-between">
        <div class="roww">
        <div class="banner-t-img">
          <img class="banner" src="img/blackbuckslogo.jpg" alt="Training Banner">
          </div>

          <div style="display:flex; flex-direction:column;">
            <p class="f18 font600">Python</p>
            <div class="roww">
              <p class="f18" >Mahindra University, Hyderabad </p></div>
              
              <div style="display:flex; flex-direction:row">
                 
                <img src="img/date.png" alt="date"  width="14px" height="14px" style="margin-right:5px"/>
            <p class="f12 font600" style="margin-right:20px;">Start Date: 15-07-2024</p>
           
            <img src="img/date.png" alt="date"  width="14px" height="14px"  style="margin-right:5px"/>
             <p class="f12 font600">End Date: 23-09-2024</p></div></div>
           
            </div>
        
        <div>
        <a href="trainingoverviewsample" class="view">
          <img src="img/eye.png" alt="viewreport" style="margin-right:5px"/>
          View Report</a>
        
        </div>
      </div>
   </div>
   <div class="training">
    <div class="roww" style="justify-content:space-between">
        <div class="roww">
        <div class="banner-t-img">
          <img class="banner" src="img/blackbuckslogo.jpg" alt="Training Banner">
          </div>

          <div style="display:flex; flex-direction:column;">
            <p class="f18 font600">Java</p>
            <div class="roww">
              <p class="f18" >Rao's Degree College</p></div>
              
              <div style="display:flex; flex-direction:row">
                 
                <img src="img/date.png" alt="date"  width="14px" height="14px" style="margin-right:5px"/>
            <p class="f12 font600" style="margin-right:20px;">Start Date: 26-06-2024</p>
           
            <img src="img/date.png" alt="date"  width="14px" height="14px"  style="margin-right:5px"/>
             <p class="f12 font600">End Date: 30-08-2024</p></div></div>
           
            </div>
        
        <div>
        <a href="trainingoverviewsample" class="view">
          <img src="img/eye.png" alt="viewreport" style="margin-right:5px"/>
          View Report</a>
        
        </div>
      </div>
   </div>
  </div>
</div>
  </div>
  </div>

  <div id="logoutModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p class="question">Are you sure you want to logout?</p>
        <div class="logout-div"></div>
        <div class="modal-buttons">
            <button id="cancelLogout">Cancel</button>
            <button id="confirmLogout">Yes</button>
        </div>
    </div>
</div>

  <!-- <script>
    async function fetchTrainings() {
      try {
        const response = await fetch(`api/trainings_listing/trainings`);
        const trainings = await response.json();
        renderTrainings(trainings);
      } catch (error) {
        console.error('Error fetching trainings:', error);
      }
    }

    function renderTrainings(trainings) {
      const trainingsContainer = document.getElementById('trainings');
      trainingsContainer.innerHTML = '';

      if (trainings.length === 0) {
        trainingsContainer.innerHTML = '<p>No trainings found.</p>';
        return;
      }

      trainings.forEach(training => {
        const trainingDiv = document.createElement('div');
        trainingDiv.className = 'training';
        trainingDiv.innerHTML = `
        <div class="roww" style="justify-content:space-between">
          <div class="roww">
          <div class="banner-t-img">
            <img class="banner" src="img/blackbuckslogo.jpg" alt="Training Banner">
            </div>

            <div style="display:flex; flex-direction:column;">
              <p class="f18 font600">${training.title}</p>
              <div class="roww">
                <p class="f18" >${training.college_name}</p></div>
                <div style="display:flex; flex-direction:column">
                  <img src="img/date.png" alt="date"  width="14px" height="14px" style="margin-right:5px"/>
              <p class="f12 font600" style="margin-right:20px;">Start Date: ${training.start_date}</p>
              <img src="img/date.png" alt="date"  width="14px" height="14px"  style="margin-right:5px"/>
               <p class="f12 font600">End Date: ${training.end_date}</p></div>
              </div>
              </div>
          
          <div>
          <a href="training_overview?id=${training.id}" class="view">
            <img src="img/eye.png" alt="viewreport" style="margin-right:5px"/>
            View Report</a>
            <a href="create_training?id=${training.id}" class="settings-button">
            <img src="img/settings.png" alt="settings" style="margin-right:5px"/>
            Edit Settings</a>
          </div>
        </div>
        `;

        trainingsContainer.appendChild(trainingDiv);
      });
    }
  
    // Fetch trainings when the page loads
    window.onload = fetchTrainings;
  </script> -->


  <!-----------User Details Fetching---------------------->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Function to get the value of a cookie by name
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Get the JWT token from the cookie
    const token = getCookie('userAdminToken');
    
    if (token) {
      // Decode the JWT token
      const decoded = jwt_decode(token);
      
      // Display the username and role
      document.querySelector('.userN').textContent = decoded.email;
      document.querySelector('.userR').textContent = decoded.role;
    } else {
      // Handle the case where the token is not found
      document.querySelector('.userN').textContent = 'No user logged in';
      document.querySelector('.userR').textContent = '';
    }
  });
</script>

   <!---------Logout module----------->
 <script>
  document.addEventListener('DOMContentLoaded', function() {
      const logoutButton = document.getElementById('logoutButton');
      const logoutModal = document.getElementById('logoutModal');
      const modalContent = logoutModal.querySelector('.modal-content');
      const confirmLogoutButton = modalContent.querySelector('#confirmLogout');
      const cancelLogoutButton = modalContent.querySelector('#cancelLogout');

      logoutButton.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent the default behavior of the button

          // Show the modal
          logoutModal.style.display = 'block';

          // Add event listeners to the modal buttons
          confirmLogoutButton.addEventListener('click', function() {
              // If user confirms, navigate to /logout
              window.location.href = '/logout';
              logoutModal.style.display = 'none'; // Hide the modal
          });

          cancelLogoutButton.addEventListener('click', function() {
              // If user cancels, hide the modal
              logoutModal.style.display = 'none';
          });

          // Add event listener to the close span
          closeSpan.addEventListener('click', function() {
              logoutModal.style.display = 'none'; // Hide the modal
          });

          // Add event listener to the modal itself to close when clicked outside
          window.addEventListener('click', function(event) {
              if (event.target === logoutModal) {
                  logoutModal.style.display = 'none'; // Hide the modal
              }
          });
      });
  });
</script>

</div>
</body>
</html>
